<!DOCTYPE html>
<html>
<head>
  <title>Category Added Successfully</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css">
  <style>
    .container {
      margin-top: 50px;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Category Added Successfully</h1>
    <p>Your category has been added successfully.</p>
    <a href="/admin/category" class="btn btn-success">Go Back</a>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>
