<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{#if isUserLoggedIn}}
  
    {{> userHeader}}

{{else if isGuest}}
  
    {{> guestHeader}}
 
 {{else}}
 
{{/if}}


    {{{body}}}
  </body>
</html>
