{{!-- <head>

    <style>
        .dropdown-toggle {
            position: relative;
        }

        .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
        }

        .dropdown-toggle:hover .dropdown-menu {
            display: block;
        }

        .dropdown-menu a {
            display: block;
            padding: 5px 0;
        }
    </style>
    <style>
        /* Custom CSS for a more appealing design */
   

    .container {
      margin-top: 50px;
    }

    


    .product-details {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      margin-top: 20px;
    }

   

    .order-tracker .status {
      font-weight: 600;
    }

    .rectangle {
      width: auto;
      height: auto;
      border: 2px solid black;
      display: flex;
    }

    .inner-div {
      flex-grow: 1;
      border: 1px solid red;
      margin: 5px;
      height: 100%;
    }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').click(function (e) {
                e.preventDefault();
                $(this).children('.dropdown-menu').slideToggle();
            });

            $('.dropdown-menu a[href="/logout"]').click(function (e) {
                e.preventDefault();
                window.location.href = '/logout';
            });

            // Hide the dropdown menu initially
            $('.dropdown-menu').hide();
        });
    </script>



</head>

<body>
    
<body>
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Products</a></li>
            <li class="breadcrumb-item active" aria-current="page">Default</li>

        </ol>
        <div class="order-container">
            <div class="order-details">

                {{!-- <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Replace this section with dynamic data from your backend -->
                        <tr>
                            <td>Product 1</td>
                            <td>$10</td>
                            <td>2</td>
                            <td>$20</td>
                        </tr>
                        <tr>
                            <td>Product 2</td>
                            <td>$15</td>
                            <td>1</td>
                            <td>$15</td>
                        </tr>
                    </tbody>
                </table> --}}
            </div>
            {{!-- <div class="order-tracker">
                <h2>Order Tracker</h2>
                <ul>
                    <li>
                        <span class="status">Processing</span>
                        <p>Your order is being processed.</p>
                    </li>
                    <li>
                        <span class="status">Shipped</span>
                        <p>Your order has been shipped.</p>
                    </li>
                    <li>
                        <span class="status">Delivered</span>
                        <p>Your order has been delivered.</p>
                    </li>
                </ul>
            </div> --}}
        </div>
        <div class="product-details">
            <!-- Add your product details here -->
            {{#each products}}
            <div class="rectangle">
                <div class="inner-div">
                    <div style="height: 130px;width: 130px;display:flex">
                          <img class="product-img" src="{{this.image}}"  alt="">
                         <p> {{this.name}}</p>
                    </div>
       
                   
                       

                </div>
                <div class="inner-div">
                        <p>here goes the description</p>
                </div>
                <div class="inner-div">
                   <p>here the order-details</p> 
                  <p> {{this.quantity}}</p>
                  <p>{{this.price}}</p> 

                </div>
            </div>
        {{/each}}
    </div>











<footer class="footer">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="widget widget-about">
                        <img src="/images/homescape-logo.png" class="footer-logo" alt="Footer Logo" width="105"
                            height="25">
                        <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros
                            eu erat. </p>

                        <div class="social-icons">
                            <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                    class="icon-facebook-f"></i></a>
                            <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                    class="icon-twitter"></i></a>
                            <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                    class="icon-instagram"></i></a>
                            <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                    class="icon-youtube"></i></a>
                            <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                    class="icon-pinterest"></i></a>
                        </div><!-- End .soial-icons -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="about.html">About Molla</a></li>
                            <li><a href="#">How to shop on Molla</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                            <li><a href="login.html">Log in</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Money-back guarantee!</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Terms and conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="cart.html">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
            <!-- End .footer-copyright -->
            <figure class="footer-payments">
                <img src="/images/payments.png" alt="Payment methods" width="272" height="20">
            </figure><!-- End .footer-payments -->
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->
    
</body> --}}